@import "mocha.css";

* {
    font-family: 'Comic Mono';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    color: @base04;
    background: shade(alpha(@base00, 0.9), 1);
}

tooltip {
	background: @base01;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: @base07;
	}

#network,
#clock,
#battery,
#pulseaudio,
#workspaces,
#mpd,
#backlight,
#memory,
#tray,
#custom-weather,
#custom-github,
#custom-xbps
{
	padding: 2px 10px;
    background: shade(alpha(@base01, 0.8), 1.00);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* #tray { */
/*     margin-left: 10px */
/* } */

/* #clock { */
/*     margin-right: 10px */
/* } */

/* #workspaces { */
/*     background: @base01; */
/*     margin-left: 5px; */
/*     margin-top: 5px; */
/*     margin-bottom: 5px; */
/*     border-radius: 15px; */
/* } */

/* #workspaces button { */
/*     padding-left: 10px; */
/*     padding-right: 10px; */
/*     min-width: 0; */
/*     color: @base04; */
/* } */

/* #workspaces button.focused { */
/*     color: @base05; */
/* } */

/* #workspaces button.urgent { */
/*     color: @base06; */
/* } */

/* #workspaces button:hover { */
/*     background: @base01; */
/*     border-color: @base01; */
/* 	color: @base05; */
/* } */

/* #network, #mpd, #tray { */
/*     padding-left: 15px; */
/*     padding-right: 2px; */
/*     background: @base01; */
/*     border-radius: 15px 0px 0px 15px; */
/*     margin-top: 5px; */
/*     margin-bottom: 5px; */
/* } */

/* #custom-vpn { */
/*     background: @base01; */
/*     padding-right: 10px; */
/*     margin-top: 5px; */
/*     margin-bottom: 5px; */
/* } */

/* #clock, #memory { */
/*     padding-right: 15px; */
/*     margin-right: 5px; */
/*     border-radius: 0px 15px 15px 0px; */
/* } */

/* #custom-spotify { */
/*     background: @base01; */
/*     margin-top: 5px; */
/*     margin-bottom: 5px; */
/*     padding-right: 15px; */
/*     padding-left: 15px; */
/*     border-radius: 15px; */
/* } */
